pro JGhtml {
  height: 100%;
  width: 100%;
   font-family: "Mali", cursive;
}

body{
background-image: url("fundo site mt foda.png");
background-size: 50%;
}

h1 {
  text-align: center;
  color: #ad2020;
  font-size: 80px;
  font-family: "Ephesis", serif;
}

h2 {
  text-align: center;
  color: #ad2020;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Quintessential", cursive;
}

p {
  text-align: center;
  color: #f2e6e6;
  font-size: 25px;
  font-family: "Marcellus", serif;
  padding: 10px 30px 10px 30px
}

a:link {
  color:#ad2020;
  text-decoration: underline;
}
a:visited{
  color:#ad2020;
  text-decoration: none;
}
a:hover{
  color:#f2e6e6;
  text-decoration: underline;
  font-weight: bold
}
a:active{
  color:#f2e6e6;
  text-decoration: underline;
  font-weight: bolder
}
footer{
  color:#f2e6e6;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Marcellus", serif;
}

figcaption{
  color:#f2e6e6;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Marcellus", serif;
}

.bg {
 background-color:#190000;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: -2%;
 margin-bottom: -2%;
 padding: 10px 10px 10px 10px
}